body
{
	 font-family: "Apple Chancery", cursive;
	color:#000000;
	font-size: 20px;
background-attachment: fixed;
background-size: 100%;	

}

/*#1affa3         #392613  brown*/
header
{
	font-size: 20px;
	color:#ffffff;
	background-color: #000000;
	margin-top: 0px;
	padding-top: 1%;
}

hr
{
	margin:2% 0 2% 0;
	color:#ffffff;
}
#hobby
{
   height:100px;
    width:200px;
    overflow:scroll;
}

.login
{
	padding:3% 0 0 3%;
	background-color: rgba(255,255,255,0.5); 
	margin: 5% 20% 0 20%;
	opacity:0.9;
}

#tb
{
	padding: 16px;
}

input[type=email], input[type=password], input[type=text], input[type=number]
{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing:	border-box;
}

input[type=radio]
{
	height:20px;
	width: 20px;
}
select {
    font: inherit;
}

input[type=file]
{
	border: none;
	background-color: red;
	font-size: 17px;
}

.info
{
	padding:5% 0 0 20%;
	opacity: 0.8;
}

#ok
{
	margin-left:70%;
	border: none;
    background-color: #006600;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
}

#sub
{
	float:center;
	border: none;
    background-color: #006600;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
   	padding:1% 20%;
	margin:3.5% 25%;
}

#sub:hover
{
	opacity: 0.8;
}

#h
{
	font-size: 25px;
	text-align: center;
	background-color: #000000;
	color: #ffffff;
	margin-bottom: 5%;
	padding: 14px 20px;

}
.info
{
	background-color: #ffffff;
	margin:5% 15% 0 15%;
	padding:5% 10% 0 10%;
}
#hobby
{
	width:80%;
}

.tabcontent
{
	background-color: #ffffff;
	margin:5% 12% 0 12%;
	padding:5% 10% 0 10%;
}